/* Benjamin Jester Student Number: 6284079 */

html{
    font: normal normal 500 20px/1.5 Verdana, Arial, sans-serif;
    background-color: beige;
}

body{
    max-width: 1500px;
    margin: auto;
    padding: .25rem;
}

header, main, aside, footer{
    margin : .5rem;
    padding: .25rem;
}

#main{
    width: 70%;
    float: left;
    margin: auto;
}

#aside{
    width: 25%;
    float: right;
    margin: auto;
}

#footer{
    clear: both;
}

#biography{
    width: 49%;
    float: left;
    margin: auto;
}

#image{
    width: 49%;
    float: right;
    margin: auto;
}

#quote{
    clear: both;
}

header > h1{
    font-size: 1.25em;
}

footer{
    font-size: .8em;
    font-weight: 900;
    color: black;
}

header, footer {
    text-align: center;
    background-image: linear-gradient(black, red, yellow);
}

main h2{
    font-variant: small-caps;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: firebrick;
    text-align: center;
    margin : .5rem;
    padding: .25rem;
}

main q{
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    font-size: 1.50em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

#quote{
    text-align: center;
    border: .25rem solid darkred;
    box-shadow: .50rem .50rem .50rem black;
    margin : .5rem;
    padding: .25rem;
}

#image{
    width: 45%;
}

img{
    display: block;
    width: 95%
}


#image, #image figure, #image img{
    border-radius: .75rem;
    margin : .5rem;
    padding: .25rem;
    margin: auto;
}

figure{
    border: .25rem solid darkred;
    background-color: red;
}

figcaption{
    font-variant: small-caps;
    font-style: normal;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

iframe{
    display: block;
    border: .25rem solid darkred;
    width: 90%;
    margin : auto;
    padding: .25rem;
}

aside h2{
    font-variant: small-caps;
    color: red;
    text-align: center;
    margin: auto;
}

#links_list{
    margin : .5rem;
    padding: .25rem;
    list-style-type: none;
    line-height: 2rem;
}

a{
    text-decoration: none;
    color: darkred;
}

a:link{
    color: firebrick;
}

a:hover{
    color: red;
}

.form-label{
    font-variant: small-caps;
    font-weight: 400;
    color: firebrick;
    text-align: center;
}

#contact_forms{
    width: 22%;
    margin: auto;
}

input, select, textarea{
    margin : .5rem;
    padding: .25rem;
    width: 90%;
    height: 90%;
    margin: auto;
}

@media (max-width: 700px){

    html{
        font-size: 12px;
    }

    #main, #aside, #biography, #image{
        width: 100%;
        float: none;
    }

    body{
            margin: auto;
            padding: .25rem;
    }

}